////////////////////////////////////
///// LOGO
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

////////////////////////////////////
///// SEARCH
.search {
  background-color: orangered;
  flex: 0 0 40%;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;

    &:focus {
      outline: none;
      width: 100%;
    }
  }

  &__button {
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

////////////////////////////////////
///// USER NAVIGATION
.user-nav {
  background-color: greenyellow;

  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
